input {
    keyboard {
        xkb { }

        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse { }

    trackpoint { }
}

output "DP-1" {
    mode "1366x768@60.000"
    scale 1
    transform "normal"
    position x=1280 y=0
}

environment {
    XDG_SESSION_TYPE "wayland"
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_DESKTOP "niri"
    GDK_BACKEND "wayland"
    QT_QPA_PLATFORM "wayland"
}

spawn-at-startup "~/.local/bin/startaudio.sh"
spawn-at-startup "dms" "run"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/pictures/Screenshot_%Y_%m_%d_%H_%M_%S.png"

animations {
    slowdown 0.7
}

window-rule {
    match app-id="pavucontrol"
    open-floating true
}

binds {
    Mod+O repeat=false { toggle-overview; }

    Mod+Ctrl+P { screenshot; }

    Mod+Return hotkey-overlay-title="Open a Terminal: foot" { spawn "foot"; }

    Mod+H { focus-column-left; }
    Mod+L { focus-column-right; }

    Mod+Shift+H { move-column-left; }
    Mod+Shift+L { move-column-right; }

    Mod+F       { toggle-window-floating; }

    Mod+W { close-window; }

    Mod+Ctrl+R { switch-preset-column-width; }

    Mod+Ctrl+J { set-column-width "-10%"; }
    Mod+Ctrl+K { set-column-width "+10%"; }

    Mod+J              { focus-workspace-down; }
    Mod+K              { focus-workspace-up; }
    Mod+Shift+J         { move-column-to-workspace-down; }
    Mod+Shift+K         { move-column-to-workspace-up; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+Control+Q { quit; }

    XF86AudioRaiseVolume { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 3%+"; }
    XF86AudioLowerVolume { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 3%-"; }
    XF86AudioMute { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86AudioNext { spawn-sh "playerctl next"; }
    XF86AudioPrev { spawn-sh "playerctl previous"; }
    XF86AudioPlay { spawn-sh "playerctl play-pause"; }
}

// DMS Include Configs
include "dms/layout.kdl"
include "dms/binds.kdl"
include "dms/colors.kdl"

layout {
    default-column-width { proportion 0.7; }

    preset-column-widths {
        proportion 0.3
        proportion 0.5
        proportion 0.7
        proportion 1.0
    }
}

layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}

